<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.motivi.exelbid_plugin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Exelbid SDK Activity -->
        <activity android:name="com.onnuridmc.exelbid.common.ExelbidBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name="com.onnuridmc.exelbid.common.ExelBidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>